:root {
    --state-pilot-color: #668cff;
    --state-developing-color: #9966ff;
    --state-completed-color: #339933;
    --state-retired-color: #FFFFFF;
    --state-unknown-color: #888888;
}

.state-label {
    display: inline-block;
    width: auto;
    border-width: 1.25px;
    border-style: solid;
    color: var(--state-unknown-color);
    border-radius: 1em;
    background: transparent;
    padding: 5px;
    text-transform: uppercase;
    font-size: .85em;

    margin: 5px 0 5px 0;
}

.state-label.sl-pilot { color: var(--state-pilot-color); }
.state-label.sl-developing { color: var(--state-developing-color); }
.state-label.sl-completed { color: var(--state-completed-color); }
.state-label.sl-retired { color: var(--state-retired-color); }

.filter-proj-state * {
    width: auto;
}

.fps-chk-holder { white-space: nowrap; }

.proj-grid-loading-indicator:has(~ .project-card) { display: none; }

.project-card > .proj-metadata + * {
    margin-top: 0;
}

.project-card > :has(+ .proj-metadata) {
    margin-bottom: 0;
}

.fps-invis { display: none; }